.HeaderIcons {
  color: rgba(255, 255, 255, 0.55);
}

.HeaderIcons:hover {
  color: white;
  transition-duration: 200ms;
}

.header-icon-list {
  margin-top: auto;
  margin-bottom: auto;
  padding: 8px 0px;
}

.bg-dark {
  background: #222222 !important;
}

.avatar {
  /* Center the content */
  font-family: monospace;
  float: left;
  width: 44px;
  height: 44px;
  line-height: 44px;
  background-color: #7066ff;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  margin-right: 8px;
  margin-top: 4px;
}
.logo-text {
  float: left;
  line-height: 50px;
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}
.CopyEmail {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .CopyEmail {
    cursor: pointer;
    margin-left: 32px !important;
  }
  .if-smallScreen-marginTop {
    margin-top: 16px;
  }
  li.nav-item > a {
    margin-left: 32px !important;
  }

  .avatar {
    /* Center the content */
    width: 32px;
    height: 32px;
    line-height: 32px;
    background-color: #7066ff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    margin-right: 8px;
    margin-top: 4px;
  }
  .logo-text {
    float: left;
    line-height: 36px;
    font-size: 20px;
    color: #fff;
    font-weight: 600;
  }

  .smallScreenMenuText {
    visibility: visible;
    display: inline-block;
    color: rgba(255, 255, 255, 0.55);
    margin-left: 8px;
    margin-bottom: 0px;
  }

  .smallScreenMenuIcon {
    visibility: visible;
    display: inline-block;
    margin-right: 8px;
    font-size: medium;
  }

  .HeaderIcons {
    color: rgba(255, 255, 255, 0.55);
    font-size: medium;
  }
}

@media screen and (min-width: 769px) {
  .smallScreenMenuText {
    visibility: hidden;
    display: none;
  }

  .smallScreenMenuIcon {
    visibility: hidden;
    display: none;
  }
}

.tooltip {
  padding: 4px !important;
  background: #d3fbd8 !important;
}
