.border {
  border-top: 1px solid #333 !important;
  border-bottom: 1px solid #333 !important;
  border-right: 0px !important;
  border-left: 0px !important;
  background-color: #252525;
}

li.bg-dark {
  background-color: #222222 !important;
  border-color: #333;
}
.progress {
  height: 8px !important;
}
.download {
  color: #769e66;
  margin-right: 32px;
}
.download:hover {
  cursor: pointer;
  color: #88fd97;
  transition-duration: 150ms;
}
.h3 {
  color: #769e66;
  font-weight: bold;
  margin-top: 16px;
}
.h5 {
  color: rgb(255, 255, 255) !important;
}
.h6 {
  color: #d5d5d5 !important;
}

@media screen and (max-width: 767px) {
  .ms-5 {
    margin-left: 0px !important;
  }
  .mt-5 {
    margin-top: 8px !important;
  }
  .ps-3 {
    padding-left: 4px !important;
    padding-right: 4px !important;
  }
  .list-group-item {
    padding: 8px !important;
  }
  .download {
    margin-right: 12px;
  }
  .text-secondary {
    font-size: small !important;
  }
  .h6 {
    font-size: small !important;
  }
  .h5 {
    font-size: medium !important;
  }
}

.ReactModal__Content {
  border-radius: 0px;
  box-shadow: 0 0 20px 8px rgba(0, 0, 0, 0.7);
}

.ToastBody {
  width: fit-content;
}

.text-secondary {
  line-height: 1.5 !important;
}

.custom-tooltip {
  display: inline;
  position: relative;
}

.custom-tooltip:hover {
  color: lightgreen;
  transition: 200ms linear;
  text-decoration: none;
}

.custom-tooltip.bottom-tooltip:hover:after {
  width: 200px;
  background: #d3fbd8 !important;
  border-radius: 3px;
  top: calc(100% + 0.4em);
  color: #222;
  content: attr(data-tooltip);
  display: block;
  font-size: 13px;
  border: 1px solid transparent;
  padding: 0.3em 1em;
  position: absolute;
  z-index: 98;
  text-align: center;
  transition: opacity 0.3s ease-out;
  left: calc(50% - 100px);
}

.custom-tooltip.bottom-tooltip:hover:before {
  border: solid;
  border-color: #d3fbd8 transparent;
  border-width: 0 0.4em 0.4em 0.4em;
  top: 100%;
  left: calc(50% - 0.4em);
  content: "";
  display: block;
  position: absolute;
  z-index: 90;
  transition: opacity 0.3s ease-out;
}

.custom-tooltip.left-tooltip:hover:after {
  height: 30px;
  width: max-content;
  background: #d3fbd8 !important;
  border-radius: 3px;
  right: calc(100% + 0.4em);
  top: calc(50% - 15px);
  color: #222;
  content: attr(data-tooltip);
  display: inline-block;
  font-size: 13px;
  border: 1px solid transparent;
  padding: 0.3em 1em;
  position: absolute;
  z-index: 98;
  text-align: center;
  transition: opacity 0.3s ease-out;
}

.custom-tooltip.left-tooltip:hover:before {
  border: solid;
  border-color: #252525 transparent;
  border-width: 0.4em 0 0.4em 0.4em;
  top: calc(50% - 0.4em);
  right: calc(100%);
  background-color: #d3fbd8;
  content: "";
  display: block;
  position: absolute;
  z-index: 90;
  transition: opacity 0.3s ease-out;
}
